body {
    background-color: #f8d7da;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5aebd;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 100px;
    margin-right: 10px;
}
nav a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-style: italic;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5aebd;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    transition: all 0.8s ease;
}

.info:hover{
    transform: scale(1.1);
}

.info img {
    max-width: 150px;
    margin-right: 20px;
}
.text-box {
    text-align: left;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.links a {
    background-color: #f5aebd;
    padding: 20px;
    padding: 50px;
    border-radius: 5px;
    margin: 20px;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}

.links a:hover {
    transform: scale(1.1);
    color: aliceblue;
}

footer {
    background-color: #f5aebd;
    padding: 20px;
    margin-top: 15px;
    font-size: 14px;
}
